*{
	font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    color: #00009C;
}

body {
	background-image: url("cupboard.jpeg");
	background-repeat: no-repeat;
	background-size: cover;
	background-color: #F4F4F4;
	opacity: 50;
}

button {
	display: inline;
	background-color: red;
	margin: 5px auto;
	border: solid 0px;
	border-radius: 3px;
    width: auto;
}

button:active {
    border: 1px solid black;
}

a {
	text-decoration: none;
	color: #00009C;
}

a:hover {
	color: pink;
	font-size: 115%;
}

div {
    border: 2px solid #bd6f2f;
	padding: 10px;
	background-color: RGB(150,150,150,0.85);
	border-radius: 5px;
}

span {
	border: 1px solid white
}

table {
	text-align: left;
	border-spacing: 50px 0px;
}

input, label {
    display: block;
    width: 90%;
}

.grid-container {
    display: grid;
    grid-gap: 1vh;
    grid-template-columns: 15vw auto auto auto;
    grid-template-rows: 5vh 30vh 25vh 10vh;
}

.links {
    grid-row: 1 / span 1;
    grid-column: 1 / span 4;
}

.bar {
    grid-row: 2 / span 3;
    grid-column: 1 / span 1;
}

.myItems {
	grid-row: 2 / span 2;
    grid-column: 2 / span 3;
    overflow: auto;
}

.below {
	grid-row: 4 / span 1;
    grid-column: 2 / span 3;
}

div.inputC {
    border-style: none;
    float: left;
    width: 25%;
}