*{
	font-family: Arial, Helvetica, sans-serif;
}

body {
	background-image: url("cupboard.jpeg");
	background-repeat: no-repeat;
	background-size: cover;
	background-color: #F4F4F4;
	opacity: 50;
}

button {
	display: block;
	background-color: red;
	margin: 5px auto;
	border: solid 0px;
	border-radius: 3px;
}

a {
	float: left;
	border: 2px solid #bd6f2f;
	margin: 15px;
	padding: 10px;
	background-color: RGB(150,150,150,0.85);
	border-radius: 3px;
	text-decoration: none;
	color: #00009C;
}

a:hover {
	color: pink;
	font-size: 115%;
}

div {
	border: 1px solid white
}

span {
	border: 1px solid white
}

.myItems {
	/*clear:left;
	float: left;*/
	border: 2px solid #bd6f2f;
	margin: 15px;
	padding: 10px 30px 10px 10px;
	background-color: RGB(150,150,150,0.85);
	border-radius: 3px;
	color: #00009C;
}

table {
	text-align: left;
	border-spacing: 50px 0px;
}

.column{
	float: left;
	padding: 10px;
}

.column.bar{
	width: 20%;
}

.column.main{
	width: 50%
}